* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav-bar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.navlink {
    color: white;
    margin: 5px 30px;
    font-size: 1.5rem;
}

.navlink:hover {
    color: rgb(167, 170, 168);
}
.active {
    color: red;
}
